@charset "UTF-8";
/*abstracts*/
/*Functions allow you to define complex operations on SassScript values that you can re-use throughout 
your stylesheet. They make it easy to abstract out common formulas and behaviors in a readable way.

Functions are defined using the @function at-rule, which is written:
 @function <name>(<arguments...>) { ... }. A function’s name can be any Sass identifier. 
 It can only contain universal statements, as well as the @return at-rule which indicates the 
 value to use as the result of the function call. Functions are called using the normal CSS 
 function syntax.

SCSS SYNTAX
@function pow($base, $exponent) {
  $result: 1;
  @for $_ from 1 through $exponent {
    $result: $result * $base;
  }
  @return $result;
}

.sidebar {
  float: left;
  margin-left: pow(4, 3) * 1px;
}*/
/*
0 - 320px:      Smaller mobile phones
320 - 360px:    Medium mobile phones
360 - 480px:    Biger mobile phones
480 - 768px:    Tablet portrait
768 - 1024px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- s-phone
- m-phone
- b-phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
/*base*/
/*div {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation: myfirst 5s linear 2s infinite alternate;
  }
  */
@keyframes example {
  0% {
    background-color: red;
    left: 0px;
    top: 0px; }
  25% {
    background-color: yellow;
    left: 200px;
    top: 0px; }
  50% {
    background-color: blue;
    left: 200px;
    top: 200px; }
  75% {
    background-color: green;
    left: 0px;
    top: 200px; }
  100% {
    background-color: red;
    left: 0px;
    top: 0px; } }

@keyframes arrow {
  0% {
    top: 40%; }
  25% {
    top: 42.5%; }
  50% {
    top: 40%; }
  75% {
    top: 42.5%; }
  100% {
    top: 40%; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style-type: none; }

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif; }
  @media only screen and (max-width: 20em) {
    html {
      font-size: 37.5%; } }
  @media only screen and (max-width: 64em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  html body {
    box-sizing: border-box; }

/*“Web typography” refers to the appearance of all the text on your website. It includes basic 
CSS text properties like what font to use and whether it should be italic or not, but typography 
is much more than that. It’s about the space between and around letters, words, and lines. It’s 
the size of different runs of text in relation to one another, and the history behind each font family.

https://www.internetingishard.com/html-and-css/web-typography/
*/
/* !!!!___ Use % rather than px for all layout-related lenghts (including pictures) ___!!!! */
h1, h2, h3, h4, h5, h6 {
  font-family: 'IM Fell English', serif;
  text-transform: uppercase; }

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  padding-bottom: 1rem; }

/*Utility classes are meant to do only one thing, and do it well. They are designed to be simple,
 composable and re-usable, allowing for easy and fast development. While a CSS system based on utility 
 classes alone is not desirable, having a set of utility classes that allow you to quickly put together 
 templates is great.

 https://blog.mariano.io/css-utility-classes-how-to-use-them-effectively-d61ee00dad2d
 
Common Use Cases
*I find utility classes really helpful for:
*Margin/padding
*Text (colors, size, styles)
*Common Background Colors
*Hiding/Showing stuff
*Display (block, inline-block)

Naming utility classes
To separate utility classes from component classes, it’s good to namespace them. I use the .u- namespace.
You can also shorthand most properties for faster coding. Here are a couple I use:
*p/m for margin/padding
*t/r/l/b for top/right/left/bottom
*v/h for vertical/horizontal
*bg for background
*/
/*components*/
/*layout*/
/*pages*/
header {
  background-color: #000; }
  header .contact-info {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    header .contact-info a {
      color: #FAF8F1;
      padding-right: 0.5rem; }
      header .contact-info a:hover {
        color: #5b8068; }
  header .navbar {
    background-color: #000;
    border-top: #FAF8F1 solid 0.1rem;
    border-bottom: #FAF8F1 solid 0.1rem;
    width: 100% !important; }
    header .navbar-item {
      color: #FAF8F1;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.2rem; }
      header .navbar-item:hover {
        color: #FAF8F1 !important; }
    header .navbar .navbar-brand h1 span {
      color: #5b8068; }
    header .navbar .navbar-end a {
      margin: 0 0.5rem; }
      header .navbar .navbar-end a:hover {
        text-decoration: underline;
        background-color: #5b8068 !important; }
    header .navbar .navbar-end .button {
      background-color: #5b8068;
      color: #FAF8F1; }
      header .navbar .navbar-end .button:hover {
        background-color: #466250 !important; }

.header-image {
  background-image: url("../images/hero/image1.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #999; }

.hero-section .round-border {
  border-radius: 10rem;
  border-bottom: 0.2rem solid #FAF8F1; }

.hero-section .hero-body h2 {
  text-shadow: #000 0.2rem 0.2rem; }
  .hero-section .hero-body h2 span {
    color: #5b8068;
    font-size: 5rem;
    text-shadow: #000 0.2rem 0.2rem; }

.hero-section .hero-body .buttons a {
  margin: 0 auto;
  background-color: #5b8068;
  color: #FAF8F1;
  border-radius: 1rem;
  text-shadow: #000 0.1rem 0.1rem;
  border: solid #d9d9dc 0.1rem;
  font-size: 1.2rem;
  text-transform: uppercase; }
  .hero-section .hero-body .buttons a:hover {
    background-color: #466250 !important; }
