@charset "UTF-8";
/*abstracts*/
/*
0 - 320px:      Smaller mobile phones
320 - 360px:    Medium mobile phones
360 - 480px:    Biger mobile phones
480 - 768px:    Tablet portrait
768 - 1024px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- s-phone
- m-phone
- b-phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
/*base*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style-type: none; }

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 20em) {
    html {
      font-size: 37.5%; } }
  @media only screen and (max-width: 64em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  html body {
    box-sizing: border-box; }

a:active {
  outline: none !important; }

/*“Web typography” refers to the appearance of all the text on your website. It includes basic 
CSS text properties like what font to use and whether it should be italic or not, but typography 
is much more than that. It’s about the space between and around letters, words, and lines. It’s 
the size of different runs of text in relation to one another, and the history behind each font family.

https://www.internetingishard.com/html-and-css/web-typography/
*/
/* !!!!___ Use % rather than px for all layout-related lenghts (including pictures) ___!!!! */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-transform: uppercase; }

p,
li,
tr {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.5rem;
  font-weight: 400;
  padding-bottom: 1rem; }

h1 {
  color: #FAF8F1;
  text-shadow: #5b8068 0.1rem 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center; }

h2 {
  color: #000;
  text-shadow: #5b8068 0.1rem 0.1rem;
  letter-spacing: 0.1rem;
  text-align: center; }

.color-green {
  color: #5b8068 !important;
  text-transform: uppercase;
  text-shadow: #000 0.1rem 0.1rem;
  font-weight: bold; }

.color-orange {
  color: #ea830e !important;
  text-shadow: #FAF8F1 0.1rem 0.1rem; }

.info-section--one .icon, .info-section--two .icon, .info-section--three .icon {
  vertical-align: middle; }

.info-section--one a, .info-section--two a, .info-section--three a {
  color: #d9d9dc; }
  .info-section--one a:hover, .info-section--two a:hover, .info-section--three a:hover {
    color: #FAF8F1; }

@media only screen and (max-width: 48em) {
  .info-section--one, .info-section--two, .info-section--three {
    line-height: 3.2rem; } }

.navbar-menu .navbar-item {
  color: #FAF8F1;
  letter-spacing: 0.2rem; }
  .navbar-menu .navbar-item:hover {
    background-color: #5b8068;
    color: #FAF8F1; }

@media only screen and (max-width: 48em) {
  .navbar-menu a {
    line-height: 4.5rem; } }

@media only screen and (max-width: 20em) {
  .navbar-menu a {
    line-height: 3rem; } }

.hero-section p {
  color: #FAF8F1;
  text-shadow: black 0.1rem 0.1rem; }

.about-section h3 {
  line-height: 3.5rem; }

.testimonials .carousel {
  text-align: center;
  color: #000;
  letter-spacing: 0.1rem; }
  @media only screen and (max-width: 20em) {
    .testimonials .carousel p {
      font-size: 1.2rem; } }

.stats-section p {
  color: #FAF8F1;
  text-shadow: black 0.2rem 0.2rem; }

.book-section button {
  font-size: 1.4rem;
  font-weight: bold;
  -webkit-box-shadow: 0px 15px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 15px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 15px 14px 0px rgba(0, 0, 0, 0.75); }
  @media only screen and (max-width: 30em) {
    .book-section button {
      font-size: 1.1rem; } }
  @media only screen and (max-width: 20em) {
    .book-section button {
      font-size: 0.7rem; } }

.book-section .customer-notice p {
  font-size: 1rem;
  padding-bottom: 0.5rem;
  color: #000; }
  .book-section .customer-notice p:first-child {
    font-size: 1.2rem;
    color: red;
    text-decoration: underline;
    letter-spacing: 0.1rem; }

footer .columns li {
  font-size: 1rem;
  color: #d9d9dc;
  text-align: left;
  line-height: 1.8rem; }

footer .columns p,
footer .columns span {
  color: #FAF8F1;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-shadow: #000 0.1rem 0.1rem; }

/*components*/
.action-button {
  color: #FAF8F1;
  background-color: #5b8068;
  border: none;
  border-bottom: 0.2rem solid #d9d9dc;
  border-radius: 20rem !important;
  padding: 0.8rem 1rem;
  text-transform: uppercase;
  text-shadow: #000 0.1rem 0.1rem;
  letter-spacing: 0.2rem;
  -webkit-box-shadow: -2px 1px 42px -14px white;
  -moz-box-shadow: -2px 1px 42px -14px white;
  box-shadow: -2px 1px 42px -14px white;
  transition: 1s; }
  .action-button:hover {
    background-color: #ea830e !important;
    color: #000 !important;
    text-shadow: #FAF8F1 0.1rem 0.1rem;
    border-bottom: 0.2rem solid #5b8068; }

.fa-mobile, .fa-map, .fa-envelope {
  color: peru; }
  .fa-mobile:hover, .fa-map:hover, .fa-envelope:hover {
    color: #e2b890; }

.fa-facebook {
  color: blue; }
  .fa-facebook:hover {
    color: #6666ff; }

.fa-twitter {
  color: lightblue; }
  .fa-twitter:hover {
    color: #d4ebf2; }

.fa-instagram {
  color: lightcoral; }
  .fa-instagram:hover {
    color: #f5aeae; }

.fa-pinterest {
  color: red; }
  .fa-pinterest:hover {
    color: #ff4d4d; }

/*pages*/
header {
  background-color: #000; }
  header .info-section {
    padding: 0.5rem 0 0 0; }
    header .info-section--one, header .info-section--two, header .info-section--three {
      border-right: solid white 1px;
      padding-right: 2rem; }
      @media only screen and (max-width: 48em) {
        header .info-section--one, header .info-section--two, header .info-section--three {
          border-right: none;
          margin: 0.5rem 0; } }
    header .info-section--four {
      margin: 0.5rem 0; }
      @media only screen and (max-width: 48em) {
        header .info-section--four {
          margin-top: 1.5rem; }
          header .info-section--four a {
            padding: 0px 2rem; } }
    @media only screen and (max-width: 48em) and (max-width: 20em) {
      header .info-section--four a {
        padding: 0px 1rem; } }
  header .navbar {
    background-color: #000;
    border-top: #FAF8F1 solid 0.1rem;
    border-bottom: #FAF8F1 solid 0.1rem;
    overflow-y: hidden; }
  header .active-link {
    background-color: #5b8068 !important; }
  header .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.781) !important; }
  header .navbar-brand .navbar-burger {
    align-self: center;
    background-color: rgba(255, 255, 255, 0.103);
    border-radius: 2rem;
    -webkit-box-shadow: -2px 1px 42px -14px white;
    -moz-box-shadow: -2px 1px 42px -14px white;
    box-shadow: -2px 1px 42px -14px white; }
    header .navbar-brand .navbar-burger span {
      color: #FAF8F1; }
  @media only screen and (max-width: 64em) {
    header .navbar-menu {
      text-align: center; } }
  @media only screen and (max-width: 64em) {
    header .navbar-menu {
      background-color: rgba(0, 0, 0, 0.562); } }
  header .navbar-menu a {
    margin-right: 0.7rem; }
  header .navbar-menu .navbar-end-action-button {
    align-self: center; }
  header .navbar-menu .action-button {
    padding: 0.5rem 0.5rem; }
    @media only screen and (max-width: 64em) {
      header .navbar-menu .action-button {
        margin: 2rem auto;
        padding: 0 2rem; } }
    @media only screen and (max-width: 30em) {
      header .navbar-menu .action-button {
        margin: 2rem auto 3rem auto;
        padding: 0.2rem 1.5rem; } }

.hero-section {
  background: url(../images/hero/image1.jpg) no-repeat fixed;
  background-position: 50% 18%;
  height: 100vh;
  background-size: cover; }
  .hero-section .round-border {
    border-radius: 10rem;
    border-bottom: 0.2rem solid #fff;
    padding: 3rem 5rem; }
    @media only screen and (max-width: 30em) {
      .hero-section .round-border {
        padding: 3rem 0; } }
  .hero-section a {
    border-bottom: 0.2rem solid #FAF8F1; }

.about-section p {
  width: 50vw;
  margin: 0 auto 2rem auto; }
  @media only screen and (max-width: 64em) {
    .about-section p {
      width: 70vw; } }
  @media only screen and (max-width: 30em) {
    .about-section p {
      width: 86vw; } }
  .about-section p:last-child {
    background-color: rgba(255, 166, 0, 0.253);
    border-radius: 1rem;
    padding: 0.5rem; }

.testimonials {
  background-image: url(../images/testimonials/testimonials.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center bottom;
  background-size: cover; }
  .testimonials h2 {
    margin-top: 2rem; }
    @media only screen and (max-width: 64em) {
      .testimonials h2 {
        margin-top: 10rem; } }
    @media only screen and (max-width: 30em) {
      .testimonials h2 {
        margin-top: 7rem; } }
    @media only screen and (max-width: 30em) {
      .testimonials h2 {
        margin-top: 3rem; } }
  .testimonials .carousel {
    overflow: hidden;
    margin-top: 2rem; }
    @media only screen and (max-width: 64em) {
      .testimonials .carousel {
        margin-top: 8rem; } }
    @media only screen and (max-width: 30em) {
      .testimonials .carousel {
        margin-top: 3rem; } }
    @media only screen and (max-width: 20em) {
      .testimonials .carousel {
        margin-top: 0; } }
    .testimonials .carousel .item-1,
    .testimonials .carousel .item-2,
    .testimonials .carousel .item-3,
    .testimonials .carousel .item-4,
    .testimonials .carousel .item-5,
    .testimonials .carousel .item-6,
    .testimonials .carousel .item-7,
    .testimonials .carousel .item-8 {
      width: 40vw;
      margin: 2rem auto 0 auto;
      justify-content: center; }
      @media only screen and (max-width: 64em) {
        .testimonials .carousel .item-1,
        .testimonials .carousel .item-2,
        .testimonials .carousel .item-3,
        .testimonials .carousel .item-4,
        .testimonials .carousel .item-5,
        .testimonials .carousel .item-6,
        .testimonials .carousel .item-7,
        .testimonials .carousel .item-8 {
          width: 60vw; } }
      @media only screen and (max-width: 30em) {
        .testimonials .carousel .item-1,
        .testimonials .carousel .item-2,
        .testimonials .carousel .item-3,
        .testimonials .carousel .item-4,
        .testimonials .carousel .item-5,
        .testimonials .carousel .item-6,
        .testimonials .carousel .item-7,
        .testimonials .carousel .item-8 {
          width: 80vw; } }

.haircut-section {
  overflow: hidden; }
  .haircut-section .columns {
    display: flex;
    flex-wrap: wrap; }

.team-section .card {
  -webkit-box-shadow: -4px 39px 76px -20px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -4px 39px 76px -20px rgba(0, 0, 0, 0.75);
  box-shadow: -4px 39px 76px -20px rgba(0, 0, 0, 0.75);
  border-bottom-right-radius: 3rem;
  border-bottom-left-radius: 3rem;
  border: #d9d9dc solid 0.2rem; }

.stats-section {
  background-image: url(https://images.unsplash.com/photo-1512690459411-b9245aed614b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=1280);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
  background-size: cover; }
  .stats-section .level-item div {
    background-color: rgba(0, 0, 0, 0.747);
    padding: 1rem;
    border-radius: 2rem;
    width: 30ch; }
    @media only screen and (max-width: 64em) {
      .stats-section .level-item div {
        width: 20ch; } }

.book-section .book-form {
  padding: 1rem 7rem 1rem 1rem; }
  @media only screen and (max-width: 64em) {
    .book-section .book-form {
      padding: 1rem 1rem 1rem 1rem; } }
  .book-section .book-form button {
    padding: 1rem; }
    @media only screen and (max-width: 30em) {
      .book-section .book-form button {
        padding: 0.8rem; } }
    @media only screen and (max-width: 20em) {
      .book-section .book-form button {
        padding: 1rem; } }

.book-section .customer-notice {
  margin-top: 2.5rem; }

footer {
  padding: 3rem 0 1rem 0 !important;
  justify-content: center;
  overflow: hidden !important; }
  footer .columns {
    align-items: center;
    padding: 0 1rem 0 1rem; }
    @media only screen and (max-width: 64em) {
      footer .columns {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4rem; } }
    footer .columns:first-child {
      padding-bottom: 2.5rem;
      border-bottom: #d9d9dc 0.1rem solid; }
