/*“Web typography” refers to the appearance of all the text on your website. It includes basic 
CSS text properties like what font to use and whether it should be italic or not, but typography 
is much more than that. It’s about the space between and around letters, words, and lines. It’s 
the size of different runs of text in relation to one another, and the history behind each font family.

https://www.internetingishard.com/html-and-css/web-typography/
*/

/* !!!!___ Use % rather than px for all layout-related lenghts (including pictures) ___!!!! */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    text-transform: uppercase;
}

p,
li,
tr {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 1.5rem;
    font-weight: 400;
    padding-bottom: 1rem;
}

h1 {
    color: $white;
    text-shadow: $primary-green 0.1rem 0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

//section title
h2 {
    color: $black;
    text-shadow: $primary-green 0.1rem 0.1rem;
    letter-spacing: 0.1rem;
    text-align: center;
}

//logo-span
.color-green {
    color: $primary-green !important;
    text-transform: uppercase;
    text-shadow: $black 0.1rem 0.1rem;
    font-weight: bold;
}

.color-orange {
    color: $primary-orange !important;
    text-shadow: $white 0.1rem 0.1rem;
}

//header

.info-section {

    &--one,
    &--two,
    &--three {
        .icon {
            vertical-align: middle;
        }

        a {
            color: $primary-gray;

            &:hover {
                color: $white;
            }
        }

        @include respond(tab-port) {
            line-height: 3.2rem;
        }

        //respond-ends
    }

    //&-- ends
}

//info-section-ends

.navbar-menu {
    .navbar-item {
        color: $white;
        letter-spacing: 0.2rem;

        &:hover {
            background-color: $primary-green;
            color: $white;
        }
    }

    a {
        @include respond(tab-port) {
            line-height: 4.5rem;
        }
        @include respond(s-phone) {
            line-height: 3rem;
          }
    }
}

//navbar-menu ends

//hero-section
.hero-section {
    p {
        color: $white;
        text-shadow: black 0.1rem 0.1rem;
    }
}

//hero-section ends

.about-section {
    h3 {
        line-height: 3.5rem;
    }
}

//about-section ends

.testimonials {
    .carousel {
        text-align: center;
        color: $black;
        letter-spacing: 0.1rem;

        @include respond(s-phone) {
            p {
                font-size: 1.2rem;
            }
        }
    }

}

//testimonials ends

.stats-section {
    p {
        color: $white;
        text-shadow: black 0.2rem 0.2rem;
    }
}

.book-section{
    button {
        font-size: 1.4rem;
        font-weight: bold;
        -webkit-box-shadow: 0px 15px 14px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 15px 14px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 15px 14px 0px rgba(0,0,0,0.75);
        @include respond(b-phone) {
            font-size: 1.1rem;
        }

        @include respond(s-phone) {
            font-size: 0.7rem;
        }

    }
    .customer-notice{
        p{
            font-size: 1rem;
            padding-bottom: 0.5rem;
            color: $black;
            &:first-child{
                font-size: 1.2rem;
                color: red;
                text-decoration: underline;
                letter-spacing: 0.1rem;
            }
        }
    }
}

//book-section ends

footer {
    .columns {
        li {
            font-size: 1rem;
            color: $primary-gray;
            text-align: left;
            line-height: 1.8rem;
        }

        p,
        span {
            color: $white;
            font-weight: bold;
            letter-spacing: 0.1rem;
            text-shadow: $black 0.1rem 0.1rem;
        }
    }
}

//footer ends