
//HEADER
header{
    background-color: $black;
//contact-info    
    .contact-info{
        width: 100%;
        display: flex;
        justify-content: space-between;
        @include respond(tab-land) {
            flex-direction: column;
            align-items: center;
            margin-bottom: 0.4rem;
            & :not(:last-child){
                margin-bottom: 0.2rem;
            }
            .dash{
                display: none;
            }
        }
        a{
            color: $white;
            padding-right: 0.5rem;
            &:hover{
                color: $primary-green;
            }
          
        }
    }
//contact-edns        
//nav
    .navbar{
        background-color: $black;
        border-top: $white solid 0.1rem;
        border-bottom: $white solid 0.1rem;
        width: 100% !important;
        @include respond(tab-port) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &-item{
            color: $white;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1.2rem;
            &:hover{
                color: $white !important;
            }             
        }
        .navbar-menu{
            background-color: $black;
        }
        .navbar-brand{
            @include respond(tab-port) {
                width: 100%;
            }

            h1{
                span{
                    color: $primary-green;
                    font-weight: bold;
                }
            }
            .burger{
                @include respond(tab-port) {
                    color: $white;
                    display: flex;
                    justify-content: center;
                    align-self: center;                }
            }
        }
        .navbar-end{
            //background hover color
            a{
                margin: 0 0.5rem;
                &:hover{
                    text-decoration: underline;
                    background-color: $primary-green !important; 
                    @include respond(tab-port) {
                        text-decoration: none;
                    }
                }
                @include respond(tab-port) {
                    text-align: center;
                    display: inline-block;
                    width: 100%;
                    margin: 0 0;
                    &:after{
                        content: '';
                        height: 0.1rem;
                        display: block;
                        width: 100%;
                        background: $primary-gray;
                    }
                }
            }
            //book an appointment
            .button{
                background-color: $primary-green;
                color: $white;
                &:hover{
                    background-color: darken($color: $primary-green, $amount: 10) !important;
                }
                @include respond(tab-port) {
                    margin-left: auto;
                    margin-right: auto;
                    &:after{
                        background: none;
                    }
                }
            }
        }


     
        
    }

//nav ENDS
    
}

//HEADER ENDS

//hero-section
.header-image {
    background-image: url("../images/hero/image1.jpg");
    background-position: top center;
    background-repeat: no-repeat;
     background-attachment: fixed;
    background-size: cover;
    background-color: #999;
}
.hero-section{
    .round-border{
        border-radius: 10rem;
        border-bottom: 0.2rem solid $white;
    }
    .hero-body{
        h2{
            text-shadow: $black 0.2rem 0.2rem;
            span{
                color: $primary-green;
                font-size: 5rem;
                text-shadow: $black 0.2rem 0.2rem;
            }
        }
        .buttons{
            
            a{
                margin: 0 auto;
                background-color: $primary-green;
                color: $white;
                border-radius: 1rem;
                text-shadow: $black 0.1rem 0.1rem;
                border: solid $primary-gray 0.1rem;
                font-size: 1.2rem;
                text-transform: uppercase;
                
                &:hover{
                    background-color: darken($color: $primary-green, $amount: 10) !important;
                }
            }
        }
    }
}
//hero-section ENDS

//about-section
.about-section{
    background-image: url("../images/about/about.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    &-body{
        color: $white;
        padding: 15rem 10rem;
        @include respond(b-phone) {
            padding: 15rem 1rem;    
        }

        
       
        h2{
            color: $white;
            text-shadow: $black 0.2rem 0.2rem;
            text-transform: uppercase;
            background-color: rgba(63, 62, 62, 0.836);
            padding: 1rem;
            margin-bottom: 3rem !important;
            border-radius: 10rem;
            border-bottom: 0.2rem solid $white;
            @include respond(s-phone) {
                padding: 0;
  
            }


            span{
                color: $primary-green;
                font-size: 5rem;
                text-shadow: $black 0.2rem 0.2rem;
            }
        }
        p{
            margin-bottom: 2rem;
            text-shadow: $black 0.1rem 0.2rem;
            background-color: rgba(63, 62, 62, 0.836);
            border-bottom: 0.2rem solid $white;
            font-size: 1.5rem;
            border-radius: 10rem;
            padding: 2rem 4rem;
            text-align: center;
            @include respond(b-phone) {
                padding: 2rem 1rem;

  
            }

        }
        
    }
}

//about-section ENDS
