
//HEADER
header{
    background-color: $black;
//contact-info    
    .contact-info{
        width: 100%;
        display: flex;
        justify-content: space-between;
        a{
            color: $white;
            padding-right: 0.5rem;
            &:hover{
                color: $primary-green;
            }
          
        }
    }
//contact-edns        
//nav
    .navbar{
        background-color: $black;
        border-top: $white solid 0.1rem;
        border-bottom: $white solid 0.1rem;
        width: 100% !important;
        &-item{
            color: $white;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1.2rem;
            &:hover{
                color: $white !important;
            }             
        }
        .navbar-brand{
            h1{
                span{
                    color: $primary-green;
                }
            }
        }
        .navbar-end{
            //background hover color
            a{
                margin: 0 0.5rem;
                &:hover{
                    text-decoration: underline;
                    background-color: $primary-green !important; 
                }

            }
            //book an appointment
            .button{
                background-color: $primary-green;
                color: $white;
                &:hover{
                    background-color: darken($color: $primary-green, $amount: 10) !important;
                }
            }
        }


     
        
    }

//nav ENDS
    
}

//HEADER ENDS

