
//HEADER
header{
    background-color: $black;
//contact-info    
    .contact-info{
        width: 100%;
        display: flex;
        justify-content: space-between;
        @include respond(tab-land) {
            flex-direction: column;
            align-items: center;
            margin-bottom: 0.4rem;
            & :not(:last-child){
                margin-bottom: 0.2rem;
            }
            .dash{
                display: none;
            }
        }
        a{
            color: $white;
            padding-right: 0.5rem;
            &:hover{
                color: $primary-green;
            }
          
        }
    }
//contact-edns        
//nav
    .navbar{
        background-color: $black;
        border-top: $white solid 0.1rem;
        border-bottom: $white solid 0.1rem;
        width: 100% !important;
        &-item{
            color: $white;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1.2rem;
            &:hover{
                color: $white !important;
            }             
        }
        .navbar-brand{
            h1{
                span{
                    color: $primary-green;
                }
            }
        }
        .navbar-end{
            //background hover color
            a{
                margin: 0 0.5rem;
                &:hover{
                    text-decoration: underline;
                    background-color: $primary-green !important; 
                }

            }
            //book an appointment
            .button{
                background-color: $primary-green;
                color: $white;
                &:hover{
                    background-color: darken($color: $primary-green, $amount: 10) !important;
                }
            }
        }


     
        
    }

//nav ENDS
    
}

//HEADER ENDS

//hero-section
.header-image {
    background-image: url("../images/hero/image1.jpg");
    background-position: top center;
    background-repeat: no-repeat;
   //  background-attachment: fixed;
    background-size: cover;
    background-color: #999;
}
.hero-section{
    .round-border{
        border-radius: 10rem;
        border-bottom: 0.2rem solid $white;
    }
    .hero-body{
        h2{
            text-shadow: $black 0.2rem 0.2rem;
            span{
                color: $primary-green;
                font-size: 5rem;
                text-shadow: $black 0.2rem 0.2rem;
            }
        }
        .buttons{
            
            a{
                margin: 0 auto;
                background-color: $primary-green;
                color: $white;
                border-radius: 1rem;
                text-shadow: $black 0.1rem 0.1rem;
                border: solid $primary-gray 0.1rem;
                font-size: 1.2rem;
                text-transform: uppercase;
                
                &:hover{
                    background-color: darken($color: $primary-green, $amount: 10) !important;
                }
            }
        }
    }
}
//hero-section ENDS
